.private-channels {
  padding-top: 3.5rem;
}

p{
  text-align: justify !important;
}
.channel-banner img {
  /* position: fixed; */
  width: 100%;
  height: 8.5rem;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}

.channel-content {
  width: 100%;
  /* max-width: 1100px; */
  /* height: 100vh; */
  /* margin: 0 auto; */
  display: flex;
  /* gap: 1rem; */
  flex-direction: row;
 
}

.channel-user-info {
  /* flex: 30%; */
  /* display: flex;
    flex-direction: column;
    
    background-color: #EDE9FF; */
    width: 307px;
  z-index: 2;

  display: flex;
  justify-content: center;
 
  flex: 0 0 300px;
  background-color: #ede9ff;
  transition: 0.3s;
}

.channel-user-info ul {
  /* padding: 0 8px 0 8px !important; */
  position: fixed;
  padding-left: 0;
  list-style-type: none;
}

.channel-user-content {
  /* flex: 70%; */
  width: 100%;
  height: 100%;
}

.profile-pic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic img {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 130px;
  height: 130px;

  object-fit: cover;
  border-radius: 50%;
  background-color: #ede9ff;
  border: 6px solid #ede9ff;
  cursor: pointer;
}

.user-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.user-information .name {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-verification-badge {
  padding-bottom: 0.6rem;
  padding-left: 0.3rem;
  font-size: 20px;
  /* color: #542C5D; */
  /* color: #7933ae; */
  color: #a888bf;
}

.clubOwner {
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--primary-color);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: whitesmoke;
  min-width: 150px;
  text-align: center;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-top: 15px solid var(--primary-color);
}

.user-information span {
  font-weight: 500;
}

.user-information .bio {
  text-align: center;
  word-break: break-all;
  padding: 0.5rem 1rem;
}

.user-information .btns,
.control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.control button {
  border: none;
  background-color: #dcd5fa;
  font-size: smaller;
  margin: 5px;
  border-radius: 5px;
  padding: 0.3rem;
  min-width: 150px;
}

.control button:hover {
  background-color: #c5c2ce;
}

.btns button {
  margin: 0.5rem;
  padding: 0.3rem 1rem;
  border: none;
  font-size: smaller;
  border-radius: 5rem;
  color: #ede9ff;
  background-color: var(--primary-color);
  transition: 0.3s;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  transition: all 0.3s;
}

.btns button:hover {
  transform: scale(1.05);
}
.btns button:active {
  transform: scale(0.99);
}

.user-information .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.5rem;
  color: var(--text-color);
}

.icon {
  cursor: pointer;
}

.live-events {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.live-header {
  text-align: center;
  font-size: 1rem;
  color: var(--text-color);
  background-color: #dcd5fa;
  /* margin: 0.5rem; */
  border-radius: 0.5rem;
}

.live-cards {
  position: relative;
  width: 100px;
  height: 140px;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: #dcd5fa;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.live-cards img {
  width: 100px;
  height: 140px;
  border-radius: 0.5rem;
  object-fit: cover;
  overflow: hidden;
}

.live-cards:hover {
  transform: scale(1.05);
}

.live-cards button {
  position: absolute;
  bottom: 0;
  left: 0.05rem;
  width: 90%;
  margin: 0.4rem 0.25rem;
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 0.3rem;
  color: #ede9ff;
  background-color: var(--primary-color);
}

/* .channel-user-content {
    margin-left: 400px;
    margin-top: 10.5rem;
} */

.channel-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 50px;
  padding-left: 0.1rem;
  padding-right: 1rem;
  width: 100%;
  background-color: #652c90;
  z-index: 6;
}

.channel-tabs .tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.channel-tabs span {
  letter-spacing: 1px;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem;
  cursor: pointer;
}

.search-channel-content {
  margin-right: 0.5rem;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.2rem;
}

.subscribe-to-see-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-to-see-more button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  margin-bottom: 3rem;

  border: none;
  border-radius: 0.5rem;

  background-color: #ede9ff;
  color: var(--primary-color);

  font-size: 1.3rem;
  font-weight: 500;

  transition: 0.1s;
}

.subscribe-to-see-more button:hover {
  transform: scale(1.1);
}

.channel-btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

@media only screen and (max-width: 1050px) {
  .live-cards {
    position: relative;
    width: 80px;
    height: 140px;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #dcd5fa;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
  }
}

.container {
  flex: 50%;
  display: flex;
  flex-direction: column;

  border: 2px solid #e1b8f8be;

  /* position: relative; */
  position: sticky;
  top: 7rem;
  /* left: 20px; */
  /* padding: 33px; */
  padding: 0%;
  height: 75vh;
  min-height: 84vh;
  overflow-y: auto;
  border-radius: 10px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  /* margin-right: 1.7rem; */
  /* margin-left: 0.5rem; */
  
  z-index: 5;
  /* min-width: 300px; */
  min-width: 50%;
  /* max-width: 800px; */
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.in-chat-sharing-options {
  display: flex;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1100px) {
  .channel-user-info {
    width: 230px;
  }
  
  .container {
    min-width: 55%;
  }
}

/* @media screen and (max-width: 1050px) {
  .in-chat-sharing-options{ 
  }
} */

.top-option-medium {
  border-radius: 2px;
}

.channel-tabs {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

.channel-tabs::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
/* 
.extra-div-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 1rem;
  padding-top: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.extra-div-block span {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
}

.extra-div-block img {
  width: 40px;
  border-radius: 50%;

  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 930px) {
  .extra-div-block {
    display: none;
  }
} */

/* @media screen and (max-width: 810px) {
  .extra-div-block {
    width: 700px;
  }
}

@media screen and (max-width: 710px) {
  .extra-div-block {
    width: 600px;
  }
}

@media screen and (max-width: 610px) {
  .extra-div-block {
    width: 500px;
  }
}

@media screen and (max-width: 510px) {
  .extra-div-block {
    width: 400px;
  }
}

@media screen and (max-width: 410px) {
  .extra-div-block {
    width: 300px;
  }
}
@media screen and (max-width: 360px) {
  .extra-div-block {
    width: 350px;
  }
}
@media screen and (max-width: 310px) {
  .extra-div-block {
    width: 300px;
  }
} */

@media screen and (max-width: 930px) {
  /* .after-extra-div-block {
    display: none;
  } */

  .live-events-medium {
    width: 80%;
    margin: 0 auto;
    border-radius: 2px;
    margin-top: 1rem;
  }

  .container {
    position: relative;
    top: 0;
    margin-left: 0;
  }

  .channel-media {
    flex-direction: column-reverse;
  }

  .channel-tabs {
    padding: 0;
  }

  .channel-content {
    flex-direction: column;
  }

  .live-cards {
    width: 6rem;
  }

  .channel-user-info ul {
    position: relative;
    overflow: hidden !important;
    max-height: none !important;
  }

  .channel-user-info {
    width: 100%;
  }

  .top-features-medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-option-medium {
    min-width: 80%;
  }

  .live-events {
    margin-bottom: 1rem !important;
  }
}

.privateChat-club {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 125px;
  right: -100vw;
  min-width: 450px;
  max-width: 450px;
  background-color: #D6D2EB;
  transition: 1s;
  border: 2px solid #e1b8f8be;

  padding-top: 0px;

  height: 75vh;
  min-height: 75vh;
  overflow-y: auto;
  border-radius: 10px;
  z-index: 50;
}

.privateChat-club .chatarea{
margin-top: 20px !important;
padding: 33px;

}

.privateChat-club .live-header{
  position: fixed !important;
  min-width: 450px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  background-color: #8149a0da;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

}

.privateChatListBox{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 8rem;
  right: -100vw;
  min-width: 250px;
  max-width: 250px;
  background-color: #08080869;
  transition: 1s;
  
  padding: 1rem;
  padding-top: 0px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  height: 78vh;
  min-height: 80vh;
  overflow-y: auto;
  border-radius: 10px;
 

  z-index: 81;
}
.community-club {
  position: absolute;
  top: 0px;
  left: 600px;
  background-color: whitesmoke;
  min-width: 280px;
  max-width: 280px;
  overflow-x: hidden;
  min-height: 70vh;
  max-height: 70vh;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* .message{
background-color: #8149a0d5;

padding: 10px;
margin: 17px 2px ;
max-width: 300px;
border:none;
color: white;
border-radius: 14px;
overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
} */

.ProfileBox {
  display: flex;
  flex-direction: row;
}

.ProfileBox p {
  margin-left: 1px;
  font-weight: bold;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.781);
}

.channel-media {
  flex: 50%;
  display: flex;
  /* justify-content: center; */
}

.messageBox {
  min-height: 50px;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  color: #374151;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 1rem 0.5rem;
  background-color: #F9FAFB;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  box-shadow: 0 1px 2px 1px rgb(31 38 135 / 12%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.2s ease-in-out;
  /* min-width: 60% */
}

.message {
  margin-left: 35px;
  border: none;
  color: #374151;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin-top: -20px;
  font-weight: 400;
}
.message-emoji {
  font-size: 15px;
  margin-left: 35px;
  margin-top: -20px;
  font-weight: 400;
}
.chat-profile {
  max-width: 30px;
  min-width: 30px;
  min-height: 30px;
  max-height: 30px;
  border-radius: 15px;
  margin-right: 5px;
  background-color: #652c90;
}

.left {
  float: left;
  clear: both;
}

.right {
  float: right;
  clear: both;
}

.send {
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
}

#send-container {
  /* display: block; */
  /* margin: auto; */
  /* text-align: center; */

  /* width: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  /* position: fixed; */
  /* bottom: 5px; */

  background-color: #EDEDFF;
  padding: 0.3rem;
}

#messageInp {
  background-color: #a09ba356;
  border: none;
  border-radius: 6px;
  height: 34px;

  
  /* width: -webkit-fill-available;
  min-width: 100px; */
  width: inherit;
  outline: none;
  padding: 5px;
}

.icon-text {
  font-size: 30px;
  background-color: #e1b8f886;
  margin: 5px;
  color: #8149a09c;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  width: 35px;
  height: 30px;
}

.GiHamburgerMenu {
  color: #8149a09c;
  cursor: pointer;
  margin: 10px;
  outline: none;
}
.GiHamburgerMenu:hover {
  color: #8149a0fd;
  cursor: pointer;
  margin: 10px;
}

.slide-container {
  position: relative;
}

#slideIFM{
  position: absolute;
 top:-67px;
  transition: 1s;
  z-index: 20;
  right: -100vw;
  width: 100% !important;
  height: 100vh !important;
}

#slide,
#slideR,
#slideM,
#slideRM,
#slideOOC,
#slideSSB,
#slidegC,
#slideVA,
#slideCR {
  position: absolute;
  right: -100vw;

  transition: 1s;
  z-index: 20;
}

#slideH {
  position: absolute;
  left: -100vw;

  transition: 1s;
  z-index: 20;
}
#slideCR {
  padding: 5px;
  border-radius: 10px;
  border: 5px solid #652c90;
}
.FaWindowClose {
  margin: 5px;
  color: white;
  cursor: pointer;
}
.FaWindowClose:hover {
  color: rgb(189, 6, 6);
  transform: scale(1.5);
}

.clubRulesText p {
  line-height: 40px;
  max-width: 800px;
}

#slideFeed {
  position: absolute;
  left: 30;

  transition: 1s;
}



.showBreakoffForm{
  display: flex;
  flex-direction: column;
  position: fixed;
  top:30%;
  right:-100vw;
  min-width: 350px;
  max-width: 350px;
  min-height: 200px;
  height: 200px;
  background-color: #08080869;
  transition: 1s;
  
 
  padding-top: 0px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  overflow-y: auto;
  border-radius: 10px;
 

  z-index: 80;
}

.showBreakoffForm input{
  width: 90%;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  font-size: 1rem;
  border: none;

}
.showBreakoffForm button{
  top: 90px;
  width: 120px;
  right: 50px !important;
}
.showBreakoffForm h5{
  background-color: #652C90;
  width: 100%;
  color: white;
  padding: 5px;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}





.showPollForm{
  display: flex;
  flex-direction: column;
  position: absolute;
 
  left:200vw;
  min-width: 350px;
  max-width: 350px;
  min-height: 200px;

  background-color: #dbdbdba2;
  transition: 1s;
  
 
  padding-top: 0px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 10px;
  bottom: 0px;

  z-index: 9999999999;
}

.Approve-request{
background-color: green;
margin: 1rem;
color: white;
border-radius: 5px;
padding: 3px;
outline: none;
cursor: pointer;
}

.Approve-request:hover{
  background-color: rgb(0, 75, 0);
  transform: scale(1.05);
}

.Delete-request{
background-color: red;
margin: 1rem;
color: white;
border-radius: 5px;
padding: 3px;
outline: none;
cursor: pointer;
}
.Delete-request:hover{
  background-color: rgb(163, 3, 3);
  transform: scale(1.05);
}
/* .showPollForm input{
  width: 90%;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  font-size: 1rem;
  border: none;

}
.showPollForm button{
  top: 90px;
  width: 120px;
  margin-left: 100px !important;
}
.showPollForm progress{
  margin-left: 50px;
} */
.showPollForm h5{
  background-color: #652C90;
  width: 100%;
  color: white;
  padding: 5px;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}


.wrapper {
  position: absolute;
  top: 15vh;
  left: 20vw;
  background-color: white;
  color: grey;
  width: 60vw;
  padding: 2rem;
  box-shadow: 0 1.5rem 1rem -1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  text-align: left;
}

.wrapper p{
  width: 100%;
  font-size: 1.9rem;
}
.inputscheduler {
  width: 100%;
  height: 45px;
  padding: 0 1rem;
  margin-top: 1rem;
  box-sizing: border-box;
  font: inherit;
  border-radius: 0.2rem;
  border: 2px solid #d4d5d6;
  color: #565656;
  -webkit-appearance: none;
}

.inputscheduler:focus {
  border-color: cornflowerblue;
  outline: none;
}

.inputscheduler.has-error {
  border-color: tomato;
}

.error {
  margin: 0;
  font-size: 90%;
  color: tomato;
}

.tag-item {
  background-color: #d4d5d6;
  display: inline-block;
  font-size: 14px;
  border-radius: 30px;
  height: 30px;
  padding: 0 4px 0 1rem;
  display: inline-flex;
  align-items: center;
  margin: 0 0.3rem 0.3rem 0;
}

.tag-item > .button {
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font: inherit;
  margin-left: 10px;
  font-weight: bold;
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar{
  background-color: #8249A0 !important;
}

.progress{
  height: 6px !important;
}

.form-check-input:checked{
  background-color: #8249A0 !important;
  border:#8249A0 !important ;  
}

.timestamp{
  font-size: 11px !important;
  position: absolute !important;
  right: 10px ;
  top: 10px;
  font-weight: normal;
}

.pollFormDiv{
  padding: 2rem;
  border-radius: 15px;
  background-color: #dcd5fa;
}
