.private-channels {
    padding-top: 4.5rem;
}

.channel-banner img {
    /* position: fixed; */
    width: 100%;
    height: 10.5rem;
    object-fit: cover;
    cursor: pointer;
    z-index: 1;
}

.channel-content {
    width: 100%;
    /* max-width: 1100px; */
    /* height: 100vh; */
    /* margin: 0 auto; */
    display: flex;
    /* gap: 1rem; */
    justify-content: space-evenly;
}

.channel-user-info { 
    /* flex: 30%; */
    /* display: flex;
    flex-direction: column;
    width: 350px;
    
    background-color: #EDE9FF; */
    z-index: 2;

    display: flex;
    justify-content: center;
    width: 380px;
    flex: 0 0 380px;
    background-color: #EDE9FF;
    transition: 0.3s;
}

.channel-user-info ul {
    /* padding: 0 8px 0 8px !important; */
    padding-left: 0 ;
    list-style-type: none;
}

.channel-user-content {
    /* flex: 70%; */
    width: 100%;
    height: 100%;
}

.profile-pic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.profile-pic img {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 130px;
    height: 130px;

    object-fit: cover;
    border-radius: 50%;
    background-color: #EDE9FF;
    border: 6px solid #EDE9FF;
    cursor: pointer;
}

.user-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.user-information .name {
    font-size: 1.5rem;
    font-weight: 500;
}

.user-information span {
    font-weight: 500;
}

.user-information .bio {
    text-align: center;
    word-break: break-all;
    padding: 0.5rem 1rem;
}

.user-information .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btns button {
    margin: 0.5rem 0;
    padding: 0.3rem 1rem;
    border: none;
    font-size: large;
    border-radius: 0.5rem;
    color: #EDE9FF;
    background-color: var(--primary-color);
    transition: 0.3s;
}

.btns button:hover {
    transform: scale(1.05);
}
.btns button:active {
    transform: scale(0.95);
}

.user-information .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
    color: var(--text-color);
}

.icon {
    cursor: pointer;
}

.live-events {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.live-header {
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: #DCD5FA;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.live-cards {
    position: relative;
    width: 100px;
    height: 140px;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #DCD5FA;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.live-cards img {
    width: 100px;
    height: 140px;
    border-radius: 0.5rem;
    object-fit: cover;
    overflow: hidden;
}

.live-cards:hover {
    transform: scale(1.05);
}

.live-cards button {
    position: absolute;
    bottom: 0;
    left: 0.05rem;
    width: 90%;
    margin: 0.4rem 0.25rem;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    color: #EDE9FF;
    background-color: var(--primary-color);
}

/* .channel-user-content {
    margin-left: 400px;
    margin-top: 10.5rem;
} */

.channel-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    height: 40px;

    width: 100%;
    background-color: #F7F6FF;
    z-index: 1;
}

.channel-tabs .tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.channel-tabs span {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.5rem;
    cursor: pointer;
}
/* .channel-tabs span:nth-child(1) {
    border-bottom: 2px solid var(--primary-color);
    padding: 0.5rem;
} */

/* .channel-media {
    margin-top: 2.5rem;
} */

.search-channel-content {
    margin-right: 0.5rem;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.2rem;
}

.subscribe-to-see-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-to-see-more button {
    padding: 0.5rem 1rem;
    margin: 1rem;
    margin-bottom: 3rem;

    border: none;
    border-radius: 0.5rem;

    background-color: #EDE9FF;
    color: var(--primary-color);

    font-size: 1.3rem;
    font-weight: 500;

    transition: 0.1s;
}

.subscribe-to-see-more button:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 1050px) {
    .channel-user-info {
        width: 300px;
        flex: 0 0 300px;
    }

    .live-cards {
        position: relative;
        width: 80px;
        height: 140px;
        margin: 0.5rem;
        border-radius: 0.5rem;
        background-color: #DCD5FA;
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
    }
}

@media only screen and (max-width: 970px) {
    .channel-user-info {
        display: none;
    }
}