* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    background-image: linear-gradient(to left top, #8249a0, #8f68b5, #9e86c7, #b0a3d9, #c5c0e8, #c5c0e8, #c5c0e8, #c5c0e8, #b0a3d9, #9e86c7, #8f68b5, #8249a0);
}

.nav {
    /* max-width: 1200px; */
    width: 100%;
    margin: auto;
    padding: 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;
    background-color: var(--primary-color);
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 1rem;
}
.outer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
}
.brand img {
    padding: 0.2rem 0.5rem 0.5rem 0.5rem;
    width: 65px;
    height: 65px;
  
}

.brand-name {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    font-size: 2rem;
    margin: 0 1rem;

    font-family: 'Royal Crescent';
    font-weight: 800;
}

.brand-name:hover {
    color: #fff;
}

.list-inline {
    display: flex;
    justify-content: space-between;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

.comp-list-link>a {
    text-decoration: none;
    color: var(--primary-color);    ;
}

.comp-list-link:hover {
    background-color: #F5F3FF;
    border-radius: 0.3rem;
}

.link {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: var(--social-handler);
}

.btn-login {
    margin: 1rem;
}

.title {
    margin: 1rem;
    padding: 0.5rem;

    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.title a {
    color: #fff;
    text-decoration: none;
}

.btn-login a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: large;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--on-hover);
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.btn-login a:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-color: transparent;
    transition: 0.3s;
}

.btn-login a:active {
    background-color: var(--on-hover);
}

.btn-signup {
    margin: 1rem;
}

.btn-signup a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: var(--primary-color);
    font-weight: 700;
    font-size: large;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: lavender;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.btn-signup a:hover {
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid var(--on-hover);
    border-color: var(--secondary-color);
    transition: 0.3s;
}

.btn-signup a:active {
    background-color: var(--on-hover);
}

.landing-page {
    height: 80vh;
    max-width: 1200px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.landing-ls {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.landing-ls span {
    text-align: center;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
}

.landing-ls img {
    width: 300px;
    min-width: 300px;
    max-height: 400px;
    object-fit: scale-down;
    padding: 0.5rem;
    border-radius: 0.8rem;
}

.landing-rs {
    flex: 50%;
    padding: 0.5rem;
}

.landing-rs span {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 700;
}

footer {
    position: fixed;
    bottom: 0;
    color: #fff;
    background-color: var(--primary-color);
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    z-index: 100;
}

footer span {
    margin-left: 1rem;
    cursor: pointer;
    color: #F9FAFB;
    font-weight: 600;
}

@media only screen and (max-width: 1024px) {
    .landing-rs span {
        font-size: 2.5rem;
        font-weight: 700;
    }
    
    .landing-ls img {
        width: 300px;
        min-width: 200px;
    }

    .landing-ls span {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 800px) {
    .landing-ls img {
        width: 100%;
        min-width: 200px;
    }

    .list-inline {
        font-size: small;
        display: none;
    }
    
    .landing-ls span {
        font-size: 1rem;
    }

    .landing-rs span {
        font-size: 2rem;
        font-weight: 700;
    }
}

@media only screen and (max-width: 660px) {
    .landing-page {
        justify-content: center;
        align-items: normal;
    }

    .landing-ls {
        display: none;
    }

    .landing-rs span {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

@media only screen and (max-width: 470px) {
    .landing-rs span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
    }
}