.feed {
    width: 100%;
}

.no-hoots-feed {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
}

.feed-hoot a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: lavender;
    font-weight: 600;
    font-size: large;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.feed-hoot a:hover {
    background-color: var(--on-hover);
    border: 1px solid var(--on-hover);
    border-color: var(--secondary-color);
    transition: 0.3s;
}

.pull-msg {
    text-align: center;
    color: var(--text-color);
    font-weight: 500;
}

.end-msg {
    text-align: center;
    color: var(--text-color);
    font-weight: 450;
}
/* @media only screen and (min-width: 1025px) {
    .no-hoots-feed {
        margin: 1rem -2rem 0rem -10rem;
        padding: 0.5rem 2rem;
    }
}
  
@media only screen and (min-width: 1200px) {
    .no-hoots-feed {
        margin: 1rem 0rem 0rem -5.5rem;
    }
}
  
@media only screen and (min-width: 1300px) {
    .no-hoots-feed {
        margin: 1rem 0;
    }
}
  
@media only screen and (max-width: 1156px) {
    .no-hoots-feed {
        margin: 1rem -2rem 0rem -8rem;
    }
}
  
@media only screen and (max-width: 1024px) {
    .no-hoots-feed {
        margin: 1rem 18rem 0rem -3rem;
        padding-left: 3rem;
    }
}
  
@media only screen and (max-width: 960px) {
    .no-hoots-feed {
        margin: 1rem 20rem 0rem 1.5rem;
        padding: 0.5rem 0.5rem;
    }
}
  
@media only screen and (max-width: 800px) {
    .no-hoots-feed {
        margin: 1rem 0;
    }
} */

.btn-top a{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin: 2rem 12rem;
    color: var(--primary-color);
    background-color: #dcd5fa;
    /* border: 2px solid var(--primary-color); */
    border: 2px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;

}

.up-arrow {
    font-size: 1.3rem;
}

.btn-top a:hover {
    color: lavender;
    background-color: var(--primary-color);
    border: 2px solid transparent;
    transition: 0.3s;
}
.btn-top a:active {
    color: lavender;
    background-color: var(--on-hover);
    border: 2px solid transparent;
    transition: 0.3s;
}

/* @media only screen and (max-width: 536px) {
    .feed {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: center;
    }
} */

@media only screen and (max-width: 630px) {
    .feed {
        overflow-x: hidden
    }
    .btn-top span {
        display: none;
    }
}

@media only screen and (max-width: 524px) {
    .feed {
        flex-direction: column;
        width: auto;
        height: 100%;
        overflow-x: hidden
    }
}


/* 
@media only screen and (max-width: 756px) {
    .feed {
        margin-left: 3rem;
    }
}

@media only screen and (max-width: 1024px) {
    .btn-top a{
        margin: 2rem 20rem 2rem 2rem;
    }
}

@media only screen and (max-width: 900px) {
    .btn-top a{
        margin: 2rem 18rem 2rem 2rem;
    }
}

@media only screen and (max-width: 800px) {
    .feed {
        flex: auto;
        margin-left: 3rem;
    }
    .btn-top a{
        margin: 2rem 12rem 2rem 12rem;
    }
}


@media only screen and (max-width: 384px) {
    .btn-top span{
        display: none;    
    }
}

@media only screen and (min-width: 1025px) {
    .btn-top a{
        margin: 2rem 6rem 2rem 0rem;
    }
}

@media only screen and (min-width: 1200px) {
    .btn-top a{
        margin: 2rem 6rem 2rem 0rem;
    }
}
*/


