.individualHoot {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.hootArea {
    display: flex;
    justify-content: center;
}
.comment-center {
    display: grid;
    place-items: center;
    padding: 1rem;
}
.commentArea {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 0.3rem;
}

.commentArea h3 {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-weight: 300;
    border-bottom: 3px dashed var(--primary-color);
}

.commentArea .comment {
    width: 100%;
    height: auto;
    /* overflow-y: scroll; */
}

.comment h6 {
    width: 100%;
    height: auto;
    padding: 0.5rem; 
    margin-top: 1rem;
    font-weight: 500;
    border-radius: 0.3rem;
    border: 1px solid lightgray;
}

.top-margin {
    margin-top: 5rem;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 1024px) {
    .comment-center {
        margin: 1rem 18rem 0rem -1rem;
        padding-left: 3rem;
    }
    .commentArea {
        width: 85%;
    }
}

@media only screen and (max-width: 900px) {
    .comment-center {
        margin: 1rem 18rem 0rem 1.5rem;
        padding: 0 0.5rem;
    }
    .commentArea {
        width: 100%;
    }
}
  
@media only screen and (max-width: 800px) {
    .comment-center {
      margin: 1rem 0;
      padding: 0 0.5rem;
    }
    .commentArea {
        width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    .comment-center {
      margin: 1rem 0;
      padding: 0 0.5rem;
    }
    .commentArea {
        width: 100%;
    }
}

@media only screen and (min-width: 1025px) {
    .comment-center {
      margin: 1rem 1.5rem 0rem -7rem;
    }
}
  
@media only screen and (min-width: 1200px) {
    .comment-center {
      margin: 1rem -0.5rem 0rem -6rem;
    }
}

@media only screen and (min-width: 1300px) {
    .comment-center {
      margin: 1rem 0;
    }
}