.float {
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;

    z-index: 1111;
}

.float a {
    display: flex;
    justify-content: center;
    align-items: center;

  

    border-radius: 50%;
 
    text-decoration: none;

    margin: 0.1rem;

   
}

.plus {
    font-weight: 600;
    font-size: 1.7rem;
}

.hooticon:hover {
    transform: scale(1.3);
}

/* 
.float button {
    color: #fff;
    background-color: var(--primary-color);

    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid var(--primary-color);

    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
} */