.float {
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;

    z-index: 1111;
}

.float a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0.1rem;
}

.plus {
    font-weight: 600;
    font-size: 1.7rem;
}

.hooticon {
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 5px;
    cursor: pointer;
}

.hooticon:hover {
    transform: scale(1.1);
}