.individualHoot {
  width: 100%;
}

.hootArea {
  display: flex;
  justify-content: center;
}

.comment-center {
  padding: 0.5rem 1rem;
}

.commentArea {
  max-width: 570px;
  height: auto;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.commentArea h3 {
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-weight: 300;
  border-bottom: 3px dashed var(--primary-color);
}

.comment-info {
  position: relative;
  padding: 0.5rem; 
  margin: 0.5rem;
  background-color: #e2def8;
  border-radius: 0.5rem;
  line-height: 0.9rem;
  color: var(--text-color);
}

.comment-info .owner {
  font-weight: 500;
  margin: 0;
  font-size: small;
}

.comment-info .content {
  width: auto;
  height: auto;
  font-size: small;
}

.comment-info .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-info .c-more {
  position: relative;
  cursor: pointer;
  color: #374151;
}

.comment-delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #dcd5fa;
  border-radius: 0.5rem;
  padding: 2rem 2rem 1rem 2rem;
  z-index: 1000;
  box-shadow: rgb(0, 0, 0,0.3) 0px 0px 5px;
}

.comment-delete-modal h4 {
  text-align: center;
}

.edit-comment-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: auto;
  background-color: #dcd5fa;
  border-radius: 0.5rem;
  padding: 2rem;
  z-index: 1000;
  box-shadow: rgb(0, 0, 0,0.3) 0px 0px 5px;
}

.editarea-comment-style {
  width: 303px;
  height: 165px;
  border: 2px solid #565E69;
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  outline: none;
}

.editarea-style:focus {
  border: 2px solid var(--primary-color);
}

.comment-modal {
  position: absolute;
  top: 0.3rem;
  right: 2rem;
  background-color: #dcd5fa;
  border-radius: 0.5rem;
  z-index: 1111;
  box-shadow: rgb(0, 0, 0,0.3) 0px 0px 5px;
  transition: 0.3s;
}

.comment-owner {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
}

.comment-options {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.comment-options > span {
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  font-weight: 600;
  font-size: small;
  width: 80px;
  color: #374151;
}

.comment-options > span:hover {
  padding: 0.5rem 0.5rem;
  background-color: #c6bafc;
  border-radius: 0.5rem;
}

.comment-options > span:active {
  padding: 0.5rem 0.5rem;
  background-color: #b1a1fa;
  border-radius: 0.3rem;
  transition: 0.3s;
}

.top-margin {
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

.back-to-feed {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  position: fixed;
  z-index: 1111;
  background-color: transparent;

  width: 900px;
  height: 50px;

  padding: 0.5rem;
  margin-top: 5rem;

  font-weight: 600;
  font-size: medium;

  color: var(--primary-color);
  border-bottom: 1px solid #D1D5DB;
}

.back-to-feed a {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.2rem 0;
  font-weight: 600;
}

.back-to-feed a:hover {
  background-color: #ede9ff;
  padding: 0.5rem;
  margin: 0.2rem 0;
  border-radius: 50%;
}

.back-to-feed a:active {
  background-color: #dfd9fa;
  padding: 0.5rem;
  margin: 0.2rem 0;
  border-radius: 50%;
}

.back-to-feed span {
  cursor: pointer;
}

.loading-iv {
  width: 680px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

.no-individual-hoot {
  width: 100%;
}

.browse-more {
  width: 650px;
  height: auto;
  margin: 0 auto;
  color: var(--text-color);
}

.browse-more > hr {
  margin: 0.5rem 0 ;
}

.end-hoot-msg {
  text-align: center;
  padding: 3rem 0.5rem;
  font-size: larger;
  color: var(--text-color);
  font-weight: 400;
}

.end-hoot-msg a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

.end-hoot-msg span {
  color: var(--primary-color);
}

@media only screen and (max-width: 1050px) {
  .browse-more {
    width: auto;
    max-width: 650px;
  }
}
@media only screen and (min-width: 1025px) {
  .comment-center {
    margin: 1rem -2rem 0rem -10rem;
    padding: 0.5rem 2rem;
  }
}
  
@media only screen and (min-width: 1200px) {
  .comment-center {
    margin: 1rem 0rem 0rem -5.5rem;
  }
}
  
@media only screen and (min-width: 1300px) {
  .comment-center {
    margin: 1rem 0;
  }
}
  
@media only screen and (max-width: 1156px) {
  .comment-center {
    margin: 1rem 0rem 0rem -6rem;
  }
}
  
@media only screen and (max-width: 1024px) {
  .comment-center {
    margin: 1rem 18rem 0rem -3rem;
    padding-left: 3rem;
  }
}
  
@media only screen and (max-width: 960px) {
  .comment-center {
    margin: 1rem 20rem 0rem 1.5rem;
    padding: 0.5rem 0.5rem;
  }
}
  
@media only screen and (max-width: 800px) {
  .comment-center {
    margin: 0rem 0;
    padding: 0;
  }
}

@media only screen and (max-width: 700px) {
  .comment-info .content {
    font-size: 0.7rem !important;
  }
  .loading-iv {
    width: auto;
  }
}

@media only screen and (max-width: 580px) {
  .comment-delete-modal {
    width: 280px;
  }
  .edit-comment-modal {
    width: 300px;
  }
  .editarea-comment-style {
    width: 205px;
  }
}

@media only screen and (max-width: 580px) {
  .edit-comment-modal {
    width: 280px;
  }
  .loading-iv {
    width: auto;
  }
}