.explore {
    width: 100%;

}

.search-bar {
    /* position: relative; */

    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem;
    margin-top: 0;
}

.search-bar input {
    padding: 0 0.5rem;
    margin: 1rem;
    margin-left: 0rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;

    border: 2px solid #D1D5DB;
    border-radius: 0.5rem;

    width: 90%;
    height: 40px;

    outline: none;
    transition: 0.3s;
}

.search-icon {
    color: var(--primary-color);
    font-size: x-large;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.search-icon:hover {
    transform: scale(1.3);
}

.search-bar input:hover {
    border-color: var(--primary-color);
}

.search-bar input:focus {
    border-color: var(--primary-color);
}

.no-search-result {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--text-color);
}

.search-users-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 5rem;
}

.found-user {
    width: 250px;
}
.found-user:hover {
    cursor: pointer;
    background-color: #EDE9FF;
    border-radius: 0.5rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(212, 211, 213, 0.32) 0px 2px 16px 0px;
}